.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: green;
}
.copy_right_footer{
    text-align: center;
    bottom: 0;
    color: white;
    line-height: 3;
    position: fixed;
    background-color: grey;
    width: 100%;
}
body{
    background-size: cover;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
